body{
  margin:20px 30px;}

.pic1{
  height:150px; 
  width:150px; 
  border-radius:50%;}

.container{
  display:flex;
  justify-content:start;
  align-items:center;}

h1{
  font-size:xxx-large;
  color: rgb(10, 77, 201);}


